* {
    margin: 0;
    padding: 0;
    color: rgb(159, 178, 191);
    font-family: "Source Serif Pro", "Noto Serif SC", -apple-system, "SF UI Text", "PingFang SC", "Microsoft YaHei",
        "WenQuanYi Micro Hei", sans-serif;
    font-weight: 400;
}

html,
body,
#app {
    height: 100%;
    background-color: rgb(33, 37, 43);
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    display: inline;
}

.Box,
.menu,
.blackWindow,
.pages,
.pages2,
.footer {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.menu ul li a,
.footer p a,
.pagesTextBoxImg img {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.Box {
    width: 100%;
    height: 100%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.BoxLoad {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
}

/* 主盒子 */
#Indexbox {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 顶部菜单 */
.menu {
    width: 100%;
    height: 35px;
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: rgb(33, 37, 43);
    font-size: 1rem;
    text-align: center;
    color: white;
    overflow: hidden;
}

.menu img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 15px;
}

.menu ul {
    position: absolute;
    left: 50px;
}

.menu ul li a {
    display: block;
    float: left;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.244);
}

/* 遮罩层 */
.blackWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.054);
    backdrop-filter: blur(10px);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
}

.blackWindowShow {
    visibility: visible;
    opacity: 1;
}

/* 页面 */
.pages {
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(40, 44, 52);
}

.pages2 {
    left: 65%;
    width: 35%;
    border-left: 1px solid rgb(24, 24, 24);
    margin-left: -1px;
}

.pagesTitle {
    position: absolute;
    top: 35px;
    width: 100%;
    height: 35px;
    background-color: rgb(39, 41, 45);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
}

.pagesTitleOption {
    width: auto;
    height: 35px;
    background-color: rgb(33, 37, 43);
    padding: 0 10px 0 10px;
    float: left;
    border-left: 1px solid rgb(24, 24, 24);
    border-right: 1px solid rgb(24, 24, 24);
    margin-left: -1px;
    cursor: pointer;
}

#pagesTitle2 {
    display: none;
}

#pagesTitleOption1 {
    margin-left: 50px;
}

.pagesTitleOption img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 7px 5px 0 0;
    cursor: pointer;
}

.pagesTitleOption p {
    float: left;
    line-height: 35px;
    font-size: 0.8rem;
    cursor: pointer;
}

.pagesTitleOption img,

.pagesTitleOptionClick {
    background-color: rgb(40, 44, 52);
}

.pagesText {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(500px);
    overflow-x: hidden;
    opacity: 0;
}

.pagesText::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.pagesText::-o-scrollbar {
    width: 5px;
    height: 5px;
}

.pagesText::-moz-scrollbar {
    width: 5px;
    height: 5px;
}

.pagesText::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.pagesText::-o-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.pagesText::-moz-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.pagesTextBox {
    margin: 100px 0 0 15px;
    padding-bottom: 50px;
}

.pagesTextBox p {
    font-size: 1.2rem;
}

.pagesTextBoxImg {
    margin: 40px 0;
}

.pagesTextBoxImg img {
    max-width: 70%;
    min-width: 300px;
    max-height: 500px;
    border-radius: 10px;
}

.pagesTextBoxImg img:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.pagesTextShow {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

/* 底部块说明 */
.footer {
    width: 100%;
    height: 25px;
    background-color: rgb(33, 37, 43);
    position: absolute;
    bottom: 0;
    z-index: 2;
    font-size: 0.8rem;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0 20px;
    line-height: 25px;
    display: inline-block;
}

.footer p a:hover {
    color: #74b9ff;
}

.footer .right {
    float: right;
}

/* 自适应 */
@media screen and (max-width: 1250px) {
    .menuUL {
        display: none;
    }

    .pages {
        width: 100%;
    }

    .pages2 {
        display: none;
    }

    #pagesTitle2 {
        display: block;
    }

}

@media screen and (max-width: 575px) {
    .pagesTitle {
        display: none;
    }

    .pagesTextBox {
        margin: 80px 0 0 65px;
    }

    .pagesTextBoxImg img {
        max-width: 85%;
        min-width: 200px;
        max-height: 99999px;
        border-radius: 10px;
    }

    .footer {
        min-width: 280px;
        height: auto;
        text-align: center;
        padding: 10px 0;
    }

    .footer p {
        line-height: 0px;
    }

    .footer .right {
        float: none;
    }

    .pagesTextBox {
        padding-bottom: 100px;
    }
}
